.AH-feature-arrangement{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    min-height: 200px;
    gap: 50px;
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.AH-symbol{
    display: flex;
    align-items: center;
    gap:20px;
    top:0;
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 400px;
    border-radius: 20px;
    border-width: 5px 3px 3px 5px;
    border: 2px solid #9fef00;
    border-bottom-color: #e5e5e5;
    border-right-color: #e5e5e5;
}

.AH-feature h1{
    text-align: left;
    font-size: 1.5rem;
}

.AH-feature p{
    text-align: left;
    font-size: 1rem;
}

@media screen and (max-width: 888px) {
    .AH-feature-arrangement {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .AH-feature-arrangement {
        display: block;
    }
    .AH-feature-arrangement > * {
        margin-bottom: 10px;
    }
    .AH-feature-arrangement > *:last-child {
        margin-bottom: 0;
    }
}