.ITconsult-offer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.ITconsult-offer.shifted {
    flex-direction: row;
    justify-content: space-between;
    gap: 48px;
}

.ITconsult-offers-arrangement {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.ITconsult-offer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.project-arrangement {
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.project-arrangement h1 {
    text-align: center;
    width: 100%;
}

.project-arrangement.shifted-project {
    order: 1;
    margin: 0;
    flex: 1;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align the cancel icon beside the text */
    width: 100%;
}

.workflow-btn-cancel {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; /* Space between header and cancel icon */
}

.workflow-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    margin-top: 20px; /* Ensure it's below the header */
}

.workflow-btn:hover {
    transform: scale(1.1);
}

.project-content {
    display: flex;
    flex-direction: column; /* Column layout for steps */
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.project-navigation ul {
    display: flex;
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    justify-content: center; /* Center the navigation bar */
    gap: 15px; /* Add spacing between list items */
}

.project-navigation li {
    cursor: pointer;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.project-navigation li.active,
.project-navigation li:hover {
    background-color: white; /* Change background on hover and active state */
    color: black;
}

.project-steps {
    text-align: left;
    margin-top: 20px;
    width: 100%; /* Ensure the steps take full width */
}

.step-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.step-navigation button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px; /* Custom font size */
    cursor: pointer; /* Pointer cursor on hover */
    margin:0;
    transition: transform 0.3 ease;
}

.step-navigation button:hover {
    transform: scale(1.25);
}

.step-navigation button:focus {
    outline: none; /* Remove default outline */
}