@import url('https://fonts.cdnfonts.com/css/cyberpunk-is-not-dead');

.about-title {
    position: relative;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5%;
}

.about-title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../assets/image/AboutMe/MeBanner.jpeg');
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-size: cover;
    height: 80vh;
    opacity: 0.7;
    z-index: -1;
}

.introduction{
    font-family: 'Cyberpunk Is Not Dead', sans-serif;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255,0.2),
        rgba(0,0,0,0.5)
    );
    color: white;
    margin-top: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 10px;
    width: 35%;
    transform: translate(50%, 10%);
}

.introduction h1{
    color: #9fef00;
}

.about-experience{
    padding: 50px;
    text-align: center;
    color: #9fef00;
}

.about-skilled{
    text-align: center;
    color:#9fef00;
}

.soft-skill{
    padding-top: 10px;
    padding-bottom: 10px;
}

.about-goal{
    text-align: center;
    color:#9fef00;
}

.about-interest{
    text-align:center;
    color:#9fef00;
}

.side-by-interest{
    display: flex;
}
.carousel-container{
    width:50%;
    flex-shrink: 0;
}

@media screen and (max-width: 960px) {
    .side-by-interest{
        display: block;
    }
    .carousel-container{
        width:100%;
    }
    .interest-swipper{
        background-size: cover;
        background-position: center;
    }

    .about-title {
        top: 0;
        text-align: left;
        color: #9fef00;
        font-size: 15px;
        padding: 0;
        padding-left: 5%;
        padding-top: 10%;
    }
    
    .introduction{
        padding: 0;
        padding-left: 5%;
    }

    .about-skilled{
        text-align: center;
        color:#9fef00;
        margin: 0;
        padding: 0;
        padding-top: 5px;
    }
}