.AH-structure{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.AH-structure h1{
    color: whitesmoke;
    padding-top: 30px;
    font-size: 44px;
}

.AH-structure p{
    color: #9fef00;
    font-size: 20px;
}