.UT-structure{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-left: 50px;
    padding-right: 50px;
    height: 420px;
}

.UT-structure::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../../assets/image/unitTrust-banner.jpg");
    background-size: 100% 100%;
    opacity: 0.6;
}

.title-arrange{
    z-index: 1000;
}

.UT-structure h1{
    color: black;
    text-align: left;
    font-size: 2.5rem;
    width: 40%;
    margin: 0;
    padding-bottom: 15px;
    z-index: 1;
}

.UT-structure p{
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    color: black;
    text-align: left;
    width: 40%;
    z-index: 1;
}

.btn-arrangement{
    z-index: 1;
    padding-top: 20px;
}

.ButtonUT{
    font-size: 16px;
    background-color: #4d525c;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    animation: breathBorder 3s infinite alternate;
    transition: background-color 0.3s ease;
}

.ButtonUT:hover{
    background-color: #9fef00;
    color: black;
}

.UT-feature{
    background-color: black;
}

.UT-feature-arrangement{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    min-height: 200px;
    gap: 50px;
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Intro-UT{
    background-color: black;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.Intro-UT h1{
    text-align: center;
    color: #9fef00;
}

.Intro-UT p{
    align-items: center;
    margin: 0;
    color: whitesmoke;
}

.UT-symbol{
    display: flex;
    align-items: center;
    gap:20px;
    top:0;
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 400px;
    border-radius: 20px;
    border-width: 5px 3px 3px 5px;
    border: 2px solid #9fef00;
    border-bottom-color: #e5e5e5;
    border-right-color: #e5e5e5;
}

.UT-feature h1{
    font-size: 1.5rem;
}

.UT-feature p{
    text-align: left;
    font-size: 1rem;
}

.UT-solution-arrangement{
    padding-top: 20px;
}

.UT-solution-arrangement h1{
    color: #9fef00;
    text-align: center;
}

.UT-solution{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.UT-solution h1{
    color: white;
}

.UT-solution p{
    color: white;
    padding: 10px;
    max-width: 700px;
    text-align: justify;
}

.solution-content{
    padding:50px;
    padding-right: 0;
}

.solution-content p{
    text-align: justify;
}

.badge-arrangement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 50px;
}

.badge {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
    font-size: 30px;
    color: #9fef00;
}

.badge span{
    font-size: 12px;
}

.UT-solution:hover .badge{
    transform: scale(1.1);
}
  
.badge-text {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 8px; /* Adjust this value to add spacing between the icon and the text */
    text-align: center;
    opacity: 0;
    transition: transform 0.3s ease-in-out;
}
  
.UT-solution:hover .badge-text {
    display: block;
    opacity: 1;
    animation: fadeIn 0.3s ease-in-out
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.variety-service{
    padding-top: 20px;
    color: black;
    text-align: center;
}

.variety-service h1{
    color: rgb(0, 153, 255);
    font-size: 20px;
    margin: 0;
}

.variety-service h2{
    font-size: 32px;
    margin: 0;
}

.map-service{
    width: 50%;
    transform: translateX(50%);
}

.planning-image{
    background-image: url("../../../assets/image/UT-solution/planning.jpg");
    width: 70%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.allocation-image{
    background-image: url("../../../assets/image/UT-solution/allocate.jpg");
    width: 70%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.research-image{
    background-image: url("../../../assets/image/UT-solution/research.jpg");
    width: 70%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

@media screen and (max-width: 1440px) {
    .UT-feature-arrangement {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        padding: 0 20px;
        min-height: 200px;
    }

    .UT-symbol{
        max-width: 600px;
    }

    .UT-structure h1{
        padding-top: 20px;
        width: 60%;
    }
    
    .UT-structure p{
        width: 60%;
    }
    
}

@media screen and (max-width: 960px){
    .Intro-UT{
        padding-left: 25px;
        padding-right: 25px;
        text-align: justify;
    }

    .UT-structure h1{
        width: 80%;
    }
    
    .UT-structure p{
        width: 80%;
    }

    .UT-symbol{
        max-width: 500px;
    }

    .UT-solution{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 20px;
        transform: translateX(0);
    }

    .planning-image{
        width: 100%;
    }
    
    .allocation-image{
        width: 100%;
    }
    
    .research-image{
        width: 100%;
    }
    
    .solution-content{
        padding:0;
    }

    .map-service{
        width: 80%;
        transform: translateX(10%);
    }
}

@media screen and (max-width: 768px) {
    .UT-structure{
        min-height: 420px;
    }

    .UT-structure::before {
        background-size: cover;
        background-position: center;
        opacity: 0.6;
    }

    .UT-structure h1{
        padding-left: 15px;
        padding-right: 15px;
        transform: translateY(10%);
        font-size: 30px;
    }

    .UT-structure p{
        padding-left: 15px;
        padding-right: 15px;
        transform: translateY(40%);
    }

    .btn-arrangement{
        padding-top: 50px;
        padding-left: 20px;
        z-index: 1000;
    }

    .UT-feature-arrangement {
        display: block;
    }
    .UT-feature-arrangement > * {
        margin-bottom: 10px;
    }
    .UT-feature-arrangement > *:last-child {
        margin-bottom: 0;
    }

    .Intro-UT p{
        font-size: 15px;
    }

    .UT-symbol{
        max-width: 100%;
    }

    .UT-solution{
        padding-left: 15px;
        padding-right: 15px;
    }

    .UT-structure{
        height: auto;
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .UT-structure h1{
        padding-top: 50px;
        text-align: center;
        width: 100%;
    }
    
    .UT-structure p{
        text-align: center;
        width: 100%;
    }

    .planning-image{
        height: 200px;
    }
    
    .allocation-image{
        height: 200px;
    }
    
    .research-image{
        height: 200px;
    }
}