.container-home{
    position: relative;
    background-image: url('../../assets/image/homeBanner.avif');
    text-align: center;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    padding-top: 5%;
    padding-bottom: 20px;
    overflow: hidden;
}

.sis-logo{
    height: 50px;
    width: auto;
    transform: scale(1.5);
}

.container-home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)); /* Adjust opacity stops as needed */
    z-index: -1;
}

.container-home h1{
    color: #9fef00;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px #387a38;
}

.container-home p{
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    justify-content: justify;
    text-shadow: 2px 2px 4px rgba(20, 20, 20, 0.8);
}

.servicesButton{
    font-size: 16px;
    background-color: #4d525c;
    cursor: pointer;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    animation: breathBorder 3s infinite alternate;
    transition: background-color 0.3s ease;
}

.servicesButton:hover{
    background-color: #9fef00;
    color: black;
}

.learnMore{
    color: white;
}

.learnMore:hover{
    color: #9fef00;
}

.navArrow{
    display: inline-block;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.learnMore:hover .navArrow{
    opacity: 1;
    transform: translateX(0);
}


.quick-arrangement{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 50px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 50px;
    background-color: whitesmoke;
}

.quick-guarantee h1{
    color: blue;
}

.quick-guarantee p{
    text-align: left;
}


.quick-intro span{
    color: blue;
    font-weight: bold;
}

.quick-intro h2{
    font-size: 32px;
    color: black;
}

.quick-intro p{
    color: black;
}

.quick-guarantee-arrangement{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.quick-sp{
    background-image: url("../../assets/image/eparcel.jpg");
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    max-height: 50vh;
}

.service-intro{
    background-image: url("../../assets/image/services-banner.png");
    background-size: 100% 100%;
    text-align: center;
    padding-bottom: 30px;
}

.service-intro h1{
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
    color: #9fef00;
}

.service-intro h2{
    font-size: 32px;
    margin-top: 0;
    color: whitesmoke;
}

.service-intro p{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.service-arrangement{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.service-context{
    background-color: rgb(0,0,0, 0.5);
    align-items: center;
    justify-content: center;
    text-align: justify;
    border-width: 5px 3px 3px 5px;
    border: 2px solid #e5e5e5;
    padding: 15px;
    min-height: 300px;
    min-width: 300px;
    border-radius: 5px;
}

.service-context p{
    padding: 0;
}

.service-context h1{
    font-size: 32px;
    color: white;
}

.service-context h2{
    text-align: left;
}

.service-process{
    text-align: center;
    background-color: white;
    padding-bottom: 30px;
}

.service-process h1{
    margin: 0;
    padding-top: 20px;
    font-size: 20px;
    color: rgb(0, 153, 255);
}

.service-process h2{
    font-size: 32px;
    margin-top: 0;
    color: black;
}

.service-process p{
    color: black;
    padding-left: 50px;
    padding-right: 50px;
}

.process-arrangement{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.process-context{
    align-items: center;
    justify-content: center;
    text-align: justify;
    border-width: 5px 3px 3px 5px;
    border: 2px solid rgb(238, 238, 238);
    padding: 15px;
    min-height: 300px;
    min-width: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.process-context:hover{
    background-color: black;
    transform: scale(1.1);
    transition: background-color 0.5s ease;
}

.process-context:hover h1,
.process-context:hover h2,
.process-context:hover h3{
    color: #9fef00;
    transition: background-color 0.5s ease;
}

.process-context:hover p{
    color: white;
}

.pcontext-arr{
    display: flex;
    justify-content: space-between;
}

.pcontext-arr h3{
    top: 0;
    right: 0;
    color: rgb(0, 153, 255);
    font-size: 30px;
}

.process-context p{
    padding: 0;
}

.process-context h1{
    color: rgb(0, 153, 255);
    font-size: 32px;
}

.process-context h2{
    text-align: left;
}

.process-context h3{
    margin: 0;
}

.home-logo-slider h1{
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    color: #9fef00;
}

.Contact-landing {
    position: relative; /* Ensure positioning context for the pseudo-element */
    text-align: left;
    padding: 50px;
    color: black;
    background-color: white;
    z-index: -1;
}

.Contact-landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/image/consult.jpg");
    background-size: 100% 100%;
    opacity: 0.8;
    z-index: -1;
}

.contact-button {
    display: inline-block;
    background-color: #4d525c;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 2px solid;
    border-right: 2px solid;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    animation: breathBorder 3s infinite alternate;
    transition: background-color 0.3s ease;
}

.Contact-landing h1 {
    margin: 0;
}

.Contact-landing p {
    font-weight: bold;
    width: 45%;
    position: relative;
    z-index: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}

.Contact-landing span{
    color: blue;
}

@media screen and (max-width: 1440px){
    .quick-sp{
        max-height: 50vh;
    }
    .process-arrangement{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 1150px) {
    .quick-guarantee h2{
        font-size: 28px;
    }

    .quick-arrangement{
        padding-left: 30px;
        padding-right: 30px;
        gap: 15px;
    }

    .quick-sp{
        max-height: 50vh;
    }

    .service-arrangement{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 960px) {
    .container-home{
        padding-top: 10%;
    }

    .quick-arrangement{
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 800px) {
    .container-home{
        padding-top: 15%;
    }

    .quick-arrangement{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .quick-intro {
        position: relative; /* Ensure positioning context for the pseudo-element */
        width: 100%;
    }

    .quick-intro::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../../assets/image/eparcel.jpg");
        background-size: 100% 100%;
        opacity: 0.1; /* Adjust the opacity as needed */
    }

    .quick-intro * {
        position: relative; /* Ensure text is above the pseudo-element */
        z-index: 1;
    }

    .quick-intro h1{
        text-align: center;
    }

    .quick-intro h2{
        text-align: center;
    }

    .quick-intro p{
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }

    .quick-sp{
        display: none;
    }

    .quick-guarantee h2{
        font-size: 28px;
    }

    .service-arrangement{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .process-arrangement{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .process-arrangement > * {
        min-width: calc(100% / 3); /* Ensure each grid item has a minimum width */
    }

    .Contact-landing {
        position: relative; /* Ensure positioning context for the pseudo-element */
        text-align: left;
        padding: 10px;
    }
    
    .Contact-landing::before {
        opacity: 0.3;
    }
    
    .Contact-landing h1 {
        color:#9fef00;
        margin: 0;
    }
    
    .Contact-landing p {
        font-weight: bolder;
        width: 50%;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}