@import url('https://fonts.cdnfonts.com/css/do-futuristic');

.ITconsult-main{
    font-family: 'DO Futuristic', sans-serif;     
    color: whitesmoke;                                
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 32px;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: 0.15em;
}

.ITconsult-main h1{
    font-size: 24px;
    font-weight: 800;
}

.ITconsult-main h2{
    font-size: 38px;
    font-weight: 800;
}

.ITconsult-main p{
    font-size: 16px;
}

.ITconsult-main span{
    font-family: 'DO Futuristic', sans-serif;
}