@import url('https://fonts.cdnfonts.com/css/do-futuristic');

.ITconsult-main{
    display: flex;
    flex-direction: column;
    font-family: 'DO Futuristic', sans-serif;     
    color: whitesmoke;                                
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 32px;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: 0.15em;
    gap: 28px;
}

.ITconsult-main h1{
    font-size: clamp(12px, 2vw + 1rem, 28px);
    font-weight: 600;
}

.ITconsult-main h2{
    font-size: clamp(16px, 1.8vw + 1rem, 44px);
    font-weight: 800;
}

.ITconsult-main h3{
    font-size: clamp(8px, 1.8vw + 1rem, 20px);
    font-weight: 600;
}

.ITconsult-main p{
    font-size: clamp(8px, 1.5vw + 0.5rem, 16px);
}

.ITconsult-main span{
    font-family: 'DO Futuristic', sans-serif;
}