* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(40, 44, 48, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-size: 2rem;
    z-index: 1000;
    padding-left: 45px;
    padding-right: 45px;
    transition: background-color 0.3s ease;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    color:#9fef00;
    transform: scale(1.05);
    border-bottom: 2px solid #9fef00;
}

.nav li:hover {
    color:#7fbf00;
}

.nav-logo {
    height: 50px;
    width: auto;
    pointer-events: none;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    color: whitesmoke;
    cursor: pointer;
}

.servicesMenu{
    padding-top: 7.5px;
    cursor: pointer;
    color: whitesmoke;
    position: relative;
}

.servicesMenu .arrow{
    transition: transform 0.3s;
}

.servicesMenu.open .arrow{
    transform: rotate(180deg);
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    height: 350px;
    background-color: rgba(40, 44, 48, 0.5);
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    transform: translateX(-60%);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sub-menu li {
    color: white;
    padding: 5px 10px;
    white-space: nowrap;
}

.submenu-item{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.submenu-item h2{
    font-size: 24px;
}

.inner-sub-menu{
    display: flex;
    flex-direction: column;
}

.inner-sub-menu li{
    align-items: center;
    text-align: center;
}

.Description {
    position: absolute;
    top: -77px;
    left: 100%;
    width: 100%;
    height: 350px;
    background-color: rgba(40, 44, 48, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    margin-left: 10px;
    transition: opacity 0.3s;
}

.inner-sub-menu li {
    position: relative;
}

/* Media query for smaller screens */
@media screen and (max-width: 960px) {
    nav .menu {
        display: flex;
    }

    .nav {
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        padding: .25rem;
        flex-direction: column;
        background-color: rgba(40, 44, 48, 1) !important;
    }

    .servicesMenu{
        cursor: pointer;
        color: #808080;
        padding-bottom: 8px;
    }

    .servicesMenu .arrow{
        transition: transform 0.3s;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .nav ul.open{
        display:flex;
        flex-direction: column;
        background-color: rgba(40, 44, 48);
    }

    .nav li{
        text-align: center;
    }

    .nav ul li a {
        padding: .5rem;
    }

    .nav-logo {
        height: 40px;
    }

    .servicesMenu .sub-menu{
        display: flex;
        position: static;
        transform: translateX(0%);
        width: 100%;
        padding: 0;
        margin-top: 0;
    }
}