* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    position: sticky;
    top: 0;
    background-color: #282c30;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-size: 2rem;
    z-index: 1000;
    padding-left: 45px;
    padding-right: 45px;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    background-color: #282c34;
    color:#9fef00;
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 10);
    transform: scale(1.05);
}

.nav li:hover {
    background-color: #4d525c;
}

.nav-logo {
    height: 50px;
    width: auto;
    pointer-events: none;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    color: whitesmoke;
    cursor: pointer;
}

.sub-menu {
    position: absolute;
    background-color: #282c30;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.sub-menu li {
    color: white;
}

/* Media query for smaller screens */
@media screen and (max-width: 960px) {
    nav .menu {
        display: flex;
    }

    .nav {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: flex-start;
        padding: .25rem;
        flex-direction: column;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .nav ul.open{
        display:flex;
    }

    .nav li{
        text-align: center;
    }

    .nav ul li a {
        padding: .5rem;
    }

    .nav-logo {
        height: 40px;
    }
}