.matrixR {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30%;
    z-index: -1;
    background: #282c34;
    overflow: ignore; /* Check if this should be 'auto' or 'hidden' instead of 'ignore' */
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.5;
}

.matrix-wordR{
    font-family: 'VT323', monospace;
    color: #D32F2F;
    writing-mode: vertical-rl;
    text-orientation: upright;
    user-select: none;
    white-space: nowrap;
    margin-top: var(--topPadding);
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 8px rgba(211, 47, 47, 0.8);
    font-size: 30px;
}